<div class="broccoli-field-summernote">
    <div class="broccoli-field-summernote__html">
    </div>
    <div class="broccoli-field-summernote__other">
    </div>
    <div class="broccoli-field-summernote__ctrls">
    </div>
</div>
