<div class="broccoli-field-summernote">
    <div class="broccoli-field-summernote__html">
    </div>
    <div class="broccoli-field-summernote__other">
    </div>
    <div class="broccoli-field-summernote__ctrls">
        <p>
            <span style="margin-right: 10px;"><label><input type="radio" name="editor-{{ mod.name | e }}" value="" /> HTML</label></span>
            <span style="margin-right: 10px;"><label><input type="radio" name="editor-{{ mod.name | e }}" value="text" /> {{ broccoli.lb.get('ui_label.plain_text') | e }}</label></span>
            <span style="margin-right: 10px;"><label><input type="radio" name="editor-{{ mod.name | e }}" value="markdown" /> Markdown</label></span>
        </p>
    </div>
</div>
