<div class="broccoli-field-summernote">
    <div class="broccoli-field-summernote__html">
    </div>
    <div class="broccoli-field-summernote__other">
    </div>
    <div class="broccoli-field-summernote__ctrls">
        <ul>
            <li><label><input type="radio" name="editor-{{ mod.name | e }}" value="" /> HTML</label></li>
            <li><label><input type="radio" name="editor-{{ mod.name | e }}" value="text" /> {{ broccoli.lb.get('ui_label.plain_text') | e }}</label></li>
            <li><label><input type="radio" name="editor-{{ mod.name | e }}" value="markdown" /> Markdown</label></li>
        </ul>
    </div>
</div>
